/*
@import "component-rtl/alert";
@import "component-rtl/ajax";
@import "component-rtl/field";
@import "component-rtl/file";
@import "component-rtl/filter";
@import "component-rtl/form";
*/
/* line 2, ../scss/component-rtl/_icon.scss */
.btn.icon-before .glyphicon {
  margin-left: .25em;
  margin-right: -.25em;
}
/* line 6, ../scss/component-rtl/_icon.scss */
.btn.icon-after .glyphicon {
  margin-left: -.25em;
  margin-right: .25em;
}

/*
@import "component-rtl/navbar";
@import "component-rtl/node";
@import "component-rtl/panel";
@import "component-rtl/progress-bar";
@import "component-rtl/table-drag";
@import "component-rtl/tabs";
@import "component-rtl/toolbar";
*/
